<section class="footer">
    <footer>
    	<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=28193075&auto=1&height=32"></iframe>
     
        <div class = "footer_div">  
        	<div align="center">
           <p class="copyright text-muted">
            Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} haozhihao.top <a href="www.haozhihao.top">博客主页</a> 
            
            </p>
             </div>
        	<div align="center">
    			<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">

          <!-- 访问统计 -->
          您是我的第<span id="busuanzi_value_site_uv"></span> 个访客,
          <span id="busuanzi_container_site_pv">
            本站总访问量
            <span id="busuanzi_value_site_pv"></span>次
          </span>
          <img src="/images/yinzhang.jpg" width="20px" />       
        </div>
        
    </footer>
     
</section>
